section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Search Bar*/
div.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.5rem 0.25rem;
}

div.searchBar input.bar {
  flex: 5;
  border-radius: 1rem;
  font-size: 1.5rem;
}
div.searchBar i.button {
  background-color: var(--tertiaryColor);
  color: var(--contrastColor);
  border: solid 0.2rem var(--contrastColor);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin-left: 0.2rem;
}

div.searchBar i.button:hover {
  background-color: var(--hightLightColor);
  color: var(--contrastColor);
  cursor: pointer;
}
/*Game boxes*/
div.boxView {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
}

div.boxView div.gameContainer {
  background-color: var(--mainColor);
  border: 0.3rem, solid, var(--tertiaryColor);
  flex: 20%;
  flex-grow: 1;
  border-radius: 0.5rem;
  margin: 0.4rem;
  padding: 0.3rem;
  max-width: 19%;
  max-height: 19%;
  overflow: hidden;

}

div.boxView div.gameContainer:hover {
  border-color: var(--hightLightColor);
  cursor: pointer;
}

div.boxView div.gameContainer h2.gameName {
  font-size: 1.5rem;
}

div.boxView div.gameContainer section.boxHeader img {
  max-width: 100%;
  height: auto;
}

div.boxView div.gameContainer section.boxBody {
  height: 4rem;
}

div.boxView div.gameContainer section.boxBody p {
  text-overflow: clip;
}