<div class="mainContent">
  <section class="header">
    <h2 class="listTitle">Games</h2>
    <!--<i class="fas fa-plus-square button" id ="addIcon" (click)=goToAdd()> Add</i>-->
  </section>
  <section class="searchBar">
    <!--<input class="bar" type="text" (keyup.enter)="filterBy(filter.value)" #filter>
    <i class="fas fa-search button" (click)="filterBy(filter.value)"></i>
    <i class="fas fa-eraser button" (click)="clearFilter(filter)"></i>-->
  </section>
  <div class="boxView"> <!--*ngIf="boxView"-->
    <div class="gameContainer" *ngFor=" let game of games" (click)="goToDetail(game.id)">
      <section class="boxHeader">
        <img src="{{game.portrait}}">
        <h2 class="gameName">{{game.name}}</h2>
      </section>
      <section class="boxBody">
        <p>{{game.description}}</p>
      </section>
    </div>
  </div>
</div>