<h2>Comments <span (click)="showComments()"> Show comments </span>
</h2>
<form *ngIf="checkIfSession()">
  <label>Commenting as {{getUser()}}</label>
  <input type="text" name="comment" placeholder="Write your comment">
  <button>Post comment</button>
</form>
<ul *ngIf="commentsGUI">
  <li class="comment" *ngFor="let comment of comments | async">
    <h3 class="commentUser">{{getName(comment.username)}} <span>{{comment.date}}</span></h3>
    <p class="commentBody">{{comment.comment}}</p>
  </li>
</ul>